*
!*/

!.gitignore
!README.md

!docs/**/*.md
!*.eure

!rust-toolchain.toml
!Cargo.toml
!Cargo.lock
!crates/**/*.rs

!configs/**/*.toml
!configs/**/*.csv

!.github/workflows/*.yml

!scripts/*.sh

target/
.env*
logs/
node_modules/
dist/
.tmp/
